services:
  - type: web
    name: sistema-certificados-qrcode
    env: node
    plan: free
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: NODE_ENV
        value: production
    disk:
      name: certificados-disk
      mountPath: /opt/render/project/src/certificados
      sizeGB: 1
